<div class="toolbar" role="banner">
    <div class="page_container">
      <div class="logo">
       <a routerLink="/">
        <img
        width="40"
        alt="Angular Logo"
        src="../assets/icons/GitHub-Mark-Light-32px.png"
        />
       </a>
      </div>
   
      <div class="links"> 
        <!-- <a routerLink="/" class="link">Profile</a> -->
        <a class="link " (click)="logout()" *ngIf="authService.isAuthenticated()">
          Logout
          <i class="fa fa-sign-out-alt ml-1"></i>
        </a>

      </div>
    
    </div>
  </div>